<div class='content-area'>
  
<div class="about-body">
  <h1>Why Another Productivity App?</h1>
  <p>
    Since high school, I have maintained an agenda using the Stickies app on my
    computer; I divide my life into distinct categories, each getting its own
    Sticky. I have a unique workflow and notation for keeping track of tasks,
    events, and other info on these Stickies. Organizing and viewing my life
    this way helps me to prioritize my tasks as well as analyze which aspects of
    my life are demanding more of my time (and which parts are being neglected).
  </p>
  <p>
    But my method has limitations. Stickies are just plaintext. I have no way of
    syncing events to my calendar, getting notifications, etc. So what's the
    solution? Well, there are many productivity apps which come very close to
    emulating my personal workflow described above. But none of them match my
    workflow <i>exactly</i> — and realistically none ever will. So I'm making my
    own and tailoring it exactly to my liking. But hopefully others will enjoy
    its simplicity  ¯\_(ツ)_/¯.
  </p>
  <h1>YAPRA Workflow</h1>
  <p>
    Proceed to the dashboard view and follow the instructions to get started.
    
  <h1>Up Next on the YAPRA Agenda</h1>
  <p>I hope to add more functionality, spruce up the UI, fix bugs, clean up the codebase, and 
    implement a backend in the future!</p>
</div>
</div>
